@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');


.side-nav{
    margin: 0;
    padding: 0;
    font-family: 'Joan', serif;
}
.side-nav header {
    position: fixed;
    background: #202026 !important;
    padding: 8px;
    margin-left: 220px;
    height: 45px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    z-index: 9999;
    transition: 0.5s;
}

.side-nav .left_area h3 {
    /* color: #232323; */
    color: #f3f3f3;
    font-family: 'Cormorant Garamond',
    serif;
    letter-spacing: 2px;
    padding-left: 40px;
    width: auto;
    margin-bottom: 30px;
}

.side-nav .left_area h3 i{
    font-size: 18px;
}

.side-nav .left_area span {
    color: #f3f3f3;
    font-family: 'Cormorant Garamond',
    serif;
    letter-spacing: 2px;
    margin-left: 10px;
    font-size: 22px;
    
}

.side-nav .logout_btn {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 7px;
    padding-right: 7px;
    background: #7a0459;
    text-decoration: none;
    float: right;
    margin-top: -35px;
    margin-right: 40px;
    border-radius: 2px;
    font-size: 13px;
    color: #fff;
    transition: 0.5s;
    transition-property: background;
    outline: none;
    border: 4px;
}

.side-nav .sidebar {

    background: #202026;
    background-size: cover;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 220px;
    height: 100%;
    transition: 0.5s;
    transition-property: left;
}
.side-nav .sidebar .dashboard-profile{
   display: flex;
   margin-right: 10px;
   margin-left: 10px;
   padding-right: 5px;
   padding-left: 5px;
}

.side-nav .sidebar hr{
    margin-left: 15px;
    margin-right: 15px;
    border-top: 1px solid #585858;
}
.side-nav .sidebar a {
    /* color: #202026; */
    color: #ebebeb;
    display: block;
    width: 100%;
    letter-spacing: 1px;
    line-height: 10px;
    padding: 15px 10px 15px 30px;
    text-decoration: none;
    box-sizing: border-box;
}

.side-nav .sidebar a:hover {
    color: #ebebeb;
    transition: 0.5s ease-in-out;
   
    border-right: 5px solid #7a0459;
    border-left: 5px solid #7a0459;
    background: #202026;
}

.side-nav .sidebar a:hover span{
    font-weight: 500;
}


.side-nav .sidebar a span{
    font-size: 13px;
    
    padding-top: 10px;
    text-align: center;
}

.side-nav .sidebar a i {
    margin-right: 15px;
    font-size: 16px;
}

.side-nav label{
    float: right;
    margin-right: -18px;
    background: #202026;
    padding: 15px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

.side-nav label #sidebar_btn {
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    margin: auto;
    margin-top: -2px;
    display: block;
    transition: 0.5s;
}

.side-nav label #sidebar_btn:hover {
    color: #7a0459;
}

.side-nav #check:checked ~ .sidebar {
    left: -175px;
}

.side-nav #check:checked ~ .sidebar span,
.side-nav #check:checked ~ .sidebar a span {
    display: none;
}

.side-nav #check:checked ~ .sidebar .left_area i{
    margin-left: 140px;
}

.side-nav #check:checked ~ .sidebar a {
    font-size: 20px;
    margin-left: 160px;
    width: auto; 
}

.side-nav #check:checked~.sidebar a:hover{
    border-right: 0;
}

.side-nav .content {
    margin-left: 220px;
    background: linear-gradient(rgba(255,255,255,0.9),rgba(255,255,255,0.8)),
    url('../../../../../assets/content-banner.jpg');
    background-size: cover;
    height: 92.5vh;
    transition: 0.5s;
    padding: 100px 60px 70px 60px;
    overflow: auto;
}

.side-nav #check:checked ~ .content {
    margin-left: 35px;
}

.side-nav #check:checked ~ header {
    margin-left: 45px;
}

.side-nav #check {
    display: none;
}

.side-nav .right_area .uk-search{
    height: 50px;
    display: flex;
    margin-left: 20px;
}
.side-nav .right_area .uk-search i{
    margin: auto;
    font-size: 13px;
    margin-right: 10px;
    color: #afafaf;
}
.side-nav .right_area .uk-search-input{
    height: auto;
    font-size: 15px;
    margin: 16px 0;
    display: block;
    font-family: 'Joan', serif;
    color: #fff;
}
.side-nav .right_area .uk-search-input::placeholder{
    color: #afafaf;
}
.side-nav .drop-down{
    margin: 16px 0;
    text-align: center;
    color: #afafaf;
    font-family: 'Joan', serif;
}
.side-nav .drop-down i{
  margin-left: 380px;
  cursor: pointer;
}
.side-nav .drop-down ul{
    margin-bottom: 0;
    list-style-type: none;
    padding-left: 0;
}
.side-nav .drop-down ul li{
    padding: 8px 0;
    border-bottom: 1px dotted #dddddd;
    text-align: left;
}

.side-nav .drop-down ul li a{
    text-decoration: none;
    color: #9a9a9a;
    font-size: 13px;
    transition: 0.5s ease;
}

.side-nav .drop-down ul li a:hover{
    color: #242424;
}

.side-nav .drop-down ul li a i{
    color: #9a9a9a;
    padding-right: 10px;
    margin-left: 0;
}

.side-nav .drop-down i:hover{
    color: #fff;
}







