<div class="outer-wrapper">
    <div class="wrapper">
      <!-- <div class="slide one">
        <div class="slide-one">
          <div class="uk-position-relative uk-visible-toggle" tabindex="-1" uk-slideshow="animation: slide">
  
            <ul class="uk-slideshow-items">
              <li>
                <img src="../../../../../assets/Bg4.jpg" alt="" uk-cover>
                <div class="uk-overlay uk-overlay-default uk-position-center-right uk-position-small">
                  <h3 class="uk-margin-remove">Motorola</h3>
                  <p class="uk-margin-remove">Lorem ipsum dolor sit amet.</p>
                </div>
              </li>
              
            </ul>
    
            <div class="uk-light">
              <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
                uk-slideshow-item="previous"></a>
              <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
                uk-slideshow-item="next"></a>
            </div>
    
          </div>
        </div>
      </div> -->
      <div class="slide two">
        
        <div class="slide-two">
          <div class="section">
            <div class="container">
              <span class="tag-line top">Let the <span>Sun shine</span> in your hand!!!</span>
              <div class="content">
                <h3><span>Who</span> We Are</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus qui in id consequuntur sed fugit
                  a ipsa laudantium reiciendis obcaecati pariatur maiores ipsum officiis, voluptate eaque praesentium
                  molestias, quae quasi.</p>
              </div>
              <div>
                <div class="img-grid">
                  <div>
                    <img src="../../../../../assets/about-section-1.jpeg" alt="">
                    <div class="image-overlay"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="section">
            <p class="tag-line bottom">On the watch...</p>
          </div>
        </div>
      </div>
      <!-- <div class="slide three">
        <div class="slide-three">
          <div class="container">
            <div class="content">
              <h3><span>Latest</span></h3>
              <h3>Top Brands!</h3>
            </div>
            <div class="content">
              <div>
                <a href="/">Rolex</a>
              </div>
              <div>
                <a href="/">Titan</a>
              </div>
              <div>
                <a href="/">Fastrack</a>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      <div class="slide four">
        <div class="slide-four">
          <div class="container">
            <h3 class="text"><span>D</span>etail</h3>
            <div class="section">
              <div class="content">
                <div class="items">
                  <h3>Heading 1</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, est et ex temporibus itaque iure.</p>
                </div>
                <div class="items">
                  <h3>Heading 1</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, est et ex temporibus itaque iure.</p>
                </div>
                <div class="items">
                  <h3>Heading 1</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, est et ex temporibus itaque iure.</p>
                </div>
              </div>
              <div class="content">
                <video autoplay>
                  <source src="../../../../../assets//video1.mp4" type="video/mp4">
                </video>
              </div>
              <div class="content">
                <div class="items">
                  <h3>Heading 1</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, est et ex temporibus itaque iure.</p>
                </div>
                <div class="items">
                  <h3>Heading 1</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, est et ex temporibus itaque iure.</p>
                </div>
                <div class="items">
                  <h3>Heading 1</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, est et ex temporibus itaque iure.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="slide five">
        <div class="slide-five">
          
          <div class="container">
            <div class="content">
              <h3><span>Our</span> Products</h3>
             
            </div>
            
            <div class="uk-slider-container-offset" uk-slider autoplay="true" autoplay-interval="3000">
  
              <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">
  
                <ul class="uk-slider-items uk-child-width-1-5@s uk-grid">
                  <li>
                    <div class="uk-card uk-card-default">
                      <div class="uk-card-media-top">
                        <img src="../../../../../assets/about-section-1.jpeg"  alt="">
                      </div>
                      <div class="uk-card-body">
                        <h3 class="uk-card-title">Headline</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="uk-card uk-card-default">
                      <div class="uk-card-media-top">
                        <img src="../../../../../assets/Bg7.jpeg" width="800" height="500" alt="">
                      </div>
                      <div class="uk-card-body">
                        <h3 class="uk-card-title">Headline</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="uk-card uk-card-default">
                      <div class="uk-card-media-top">
                        <img src="../../../../../assets/Bg8.jpg" width="800" height="500" alt="">
                      </div>
                      <div class="uk-card-body">
                        <h3 class="uk-card-title">Headline</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="uk-card uk-card-default">
                      <div class="uk-card-media-top">
                        <img src="../../../../../assets/Bg9.jpg" width="800" height="500" alt="">
                      </div>
                      <div class="uk-card-body">
                        <h3 class="uk-card-title">Headline</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="uk-card uk-card-default">
                      <div class="uk-card-media-top">
                        <img src="../../../../../assets/Bg2.jpg" width="800" height="500" alt="">
                      </div>
                      <div class="uk-card-body">
                        <h3 class="uk-card-title">Headline</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="uk-card uk-card-default">
                      <div class="uk-card-media-top">
                        <img src="../../../../../assets/Bg3.jpg" width="800" height="500" alt="">
                      </div>
                      <div class="uk-card-body">
                        <h3 class="uk-card-title">Headline</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                      </div>
                    </div>
                  </li>
                </ul>
  
                <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
                  uk-slider-item="previous"></a>
                <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
                  uk-slider-item="next"></a>
  
              </div>
              <br/>
              <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
  
            </div>
          </div>
        </div>
      </div>
      <div class="slide six">
        <div class="slide-six">
          <div class="container">
            <div class="content">
              <h3><span>Get</span> in touch <span>!</span></h3>
              <p>We're happy to answer any questions you have. Just send us a message in the form below!</p>
              <form class="uk-grid-small" uk-grid>
                <div class="uk-width-1-2@s">
                  <input class="uk-input" type="text" placeholder="Full name">
                </div>
                <div class="uk-width-1-2@s">
                  <input class="uk-input" type="text" placeholder="Email Id">
                </div>
                <div class="uk-width-1-1">
                  <textarea class="uk-textarea" rows="4" placeholder="Your Message!"></textarea>
                </div>
                <button class="uk-button uk-button-default">Send</button>
              </form>
              <div class="footer">
                <p><span uk-icon="location"></span>&nbsp;200 W Boyd Rd
                  Hogansville, Georgia(GA), 30230</p>
                <div class="contact-info">
                  <p><span uk-icon="receiver"></span>&nbsp;(706) 637-9809</p>
                  <p><span uk-icon="mail"></span>&nbsp;example@gmail.com</p>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>